body{
    background-color: red;
}

.section{
    width: 300px;
    border-radius: 12px;
    background-color: white;
}
.big-img{
    width: 300px;
    border-radius: 12px 12px 0% 0%;
}
.section2{
    display:flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 15px;
    margin-left: 15px;

}
.bloc{
  
    background-color:  hsl(225, 100%, 98%);
    border-radius: 12px 12px 12px 12px;
    display:flex;
    flex-direction: row;
}
.section3{
    background-color: hsl(224, 23%, 55%);
  
}